


.instructions{
  margin-top: 20px;
  font-size: 135%;
  border-width:2px;
  border-style:solid;
  border-color:#444444;
  border-radius: 20px 20px 20px 20px;

}
.list_item{
  display: list-item;
  list-style-type: "●";
  padding-inline-start: 1ch;
  margin-top: 2%;
}

#title{
   font-size: 300%
}
.gif{
  margin-top: 150px;
    box-sizing: border-box;

  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#gif_img{
    top: 0;
    bottom: 0;
    margin: auto;
  vertical-align: middle;
    max-height: 100%;
    max-width: 100%;

    border-width:2px;
    border-style:solid;
    border-color:#444444;
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    height: 300px;
}

#start_button{
      font-size: 150%;
    margin-top: 30px;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
          width: 40%;
          height: 50%;
}



.error_cont h1{
  color: red;
  }

.language_img{
  width: 50px;
  height: auto;
}

