.test_image_first_bourdon{
  background: rebeccapurple;
}
.test_image_first_chairlamp{

}
.test_image_first_toulousepieron{

}
.test_data_disabled{
  background: #2a7fc4;
}

.test_data_disabled_dark{
  background: #f1d484;
}
.selected{
  border: 3px #ff0000 dashed;
   box-sizing: border-box;
}
img{
  border: 3px dashed transparent;
  box-sizing: border-box;
  border-radius: 10%;
}
.contrast{
  filter: invert();
}
table{
  /*cursor: url(src/assets/tests/toulousepieron/symbols/0.png), auto;*/
}


